<div class="__map-page" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=<YOUR_KEY>">

  <ng-map
    map-type-control="false"
    default-style="false"
    zoom="18"
    center="[37.78484, -122.4068299]"
    trigger-resize="true"
    on-dragend="mapController.loadStops()">

    <marker
      ng-repeat="stop in mapController.stops"
      position="[{{stop['latitude']}}, {{stop['longitude']}}]"
      data="{{stop}}"
      on-click="mapController.showStop(stop)"
      title="{{stop['title']}}"
      icon="{url:'assets/img/bus.png'}">
    </marker>
  </ng-map>

  <div class="stop-pane" ng-show="mapController.currentStop">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-disabled="true">
          <img src="assets/img/bus-white.png">
        </md-button>
        <h2 class="md-toolbar-tools">
          <span>{{mapController.currentStop.title}} ({{mapController.currentStop.distance}}m)</span>
        </h2>
        <span flex></span>
          <md-button class="md-icon-button" ng-click="mapController.currentStop=null;">
            <img src="assets/img/close.png">
          </md-button>
      </div>
    </md-toolbar>
    <md-content flex md-theme="default">
      <md-list>
        <p class="_empty" ng-show="mapController.noRoutes">No data available for this stop.</p>
        <div id="md-list-container" ng-repeat="stop in mapController.currentStop.departures.stops">
          <div ng-repeat="(tag, route) in stop.routes">
            <md-list-item class="md-3-line" ng-repeat="trip in route.trips">
              <div ng-init="mapController.noRoutes=false"></div>
              <div class="md-list-item-text">
                <h3>{{route.title}}</h3>
                <h4 style="font-weight: bold; color: #333;">{{trip.direction_title}}</h4>
                <h4>{{trip.eta_timestamp|momentToNow}} ({{trip.eta_timestamp | momentUnixFormat:'h:mm a'}})</h4>
                <p>
                  <span ng-show="trip.is_affected_by_layover">affected by layover | </span>
                  <span ng-show="trip.is_departure">departing from stop | </span>
                  Vehicle: {{trip.vehicle}} | {{route.agency_title}}
                </p>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </div>
        </div>
      </md-list>
    </md-content>
  </div>
</div>
